
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 3px;
  }
  .swiper-button-prev{
    background-color: #f95706;
    color: #fff;
    padding: 20px 10px;
  }
  .swiper-button-next{
    background-color: #f95706;
  }
  .swiper-button-prev:after {
    font-size: 20px !important;
    text-transform: none !important;
    letter-spacing: 0;
    color: #fff;
    font-variant: initial;
    line-height: 1;
}
  .swiper-button-next:after {
    font-size: 20px !important;
    text-transform: none !important;
    letter-spacing: 0;
    color: #fff;
    font-variant: initial;
    line-height: 1;
}
.swiper-pagination-bullet-active{
    background-color: #f95706 !important; 
}